<h1>Edit an article here</h1>

<%= render 'error' %>

<%# does not have to be as specific since it is outside the layouts folder %>
<%= render 'form' %>

<%= link_to 'Cancel and return to articles listing', articles_path %>
