<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Roger Pender", "https://github.com/Rawgher", target: "_blank", class: "text-white" %></small>
  </div>
</footer>
